.arbitrary {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  background: #2f2f2f;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  resize: none;
}

.select {
  width: 250%;
  padding: 16px 20px;
  border-color: darkgrey;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  background: #2f2f2f;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  color: #b9b9b9;
  font: inherit;
}

.label {
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: block;
  width: 130px;
  margin-top: 5px;
}

.button,
.link {
  padding: 10px;
  border: 1px solid gray;
  background: #2f2f2f;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  font: inherit;
  margin-top: 20px;
  float: left;
}

.button:focus,
.link:focus {
  outline: 2px solid gray;
  font-weight: bold;
  color: white;
}

.button:hover,
.link:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 3px 3px 5px grey;
}

.checkbox {
  float: left;
  border: 50px;
  text-indent: -15px;
  display: contents;
}

.inputcheck {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

.link {
  cursor: pointer;
  margin-bottom: 40px;
  top: 0%;
}

.file {
  display: none;
}

.display {
  text-align: center;
  background-color: green;
  color: white;
  font-weight: bold;
}

@media (max-width: 500px) {
  .form {
    width: 22rem;
  }
  .select {
    width: 15rem;
  }
}
